*{
    margin: 0;
    padding: 0;
}

.container{
    max-width: 1000px;
    margin: 0 auto;
}

.container img{
    max-width: 100%;
}

/* classes que serao manipulada pelo Js
easy-in-out (efeitos de transição suave)
.slideEsq e .slideDir (sao classes que serao adicionadas ao HTML pelo JS),
Transition transforme animação do CSS (rolagem na horizontal e fade)
*/
#slide {
    transition: transforme is easy-in-out, opacity 1s ease-in-out;
}

/* saida */
#silde.slideEsq {
transform: translateX(-100%);
opacity: 0;/*totalmente transparente*/
}

/* entrada */
#slide.slideDir {
    transform: translateX(0);
    opacity: 1;/*solido*/
}
